<header>
  <div>File Uploader</div>
  <form action="/auth/logout" method="POST" class="logout-btn-form">
    <button type="submit" class="logout-btn">
      <img src="/logout_icon.png" alt="logout icon" id="logout-icon" />
    </button>
  </form>
</header>