<html>

<head></head>

<body>
  <div>
    <form action="/upload/folder" method="POST">
      <label for="folder_name">Folder name:</label>
      <input type="text" id="folder_name" name="folder_name">
      <button type="submit">Create</button>
    </form>
  </div>
</body>

</html>