/* header.ejs */
header {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.logout-btn {
  background-color: #b23b3b;
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.8rem;
}
.logout-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
/*  */

.folder-create-btn {
  width: 8rem;
  height: 1.5rem;
  background-color: lightslategray;
  border-radius: 10px;
}

#create-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  display: flex;
  justify-content: center;
  gap: 1em;
}

/* index.ejs */
.folder-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.folder-btn {
  width: 4rem;
  height: 2rem;
  line-height: 2rem;
  background-color: #F8D775;
  border-radius: 0.2rem;
  border: none;
  text-align: center;
  align-self: center;
}

.file, .file-head {
  display: flex;
  /* justify-content: end; */
  gap: 1rem;
  padding: 0.5rem 2rem;
  border: 2px solid gray;
}
th {
  text-align: left;
}

#download-btn {
  background-color: #3EB489;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  /* html button has a shade around it, removing that */
  border: none; 
}
